body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.app-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.inventory-container, .cart-container {
    border: 1px solid #ccc;
    background: white;
    padding: 20px;
    width: 48%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

button, .item-qty {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button {
    color: white;
    background-color: #5cb85c;
    border: none;
}

button:hover {
    background-color: #449d44;
}

.qty-change {
    background-color: #f44336;
}

.qty-change:hover {
    background-color: #d32f2f;
}

.add-to-cart, .checkout-btn {
    background-color: #000; /* Unified button color for actions */
    color: white;
}

.add-to-cart:hover, .checkout-btn:hover {
    background-color: #333;
}

.checkout-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-top: 10px;
}

.item-name, .item-qty {
    margin: 0 5px; /* Adjusted for closer spacing */
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjusts the space between the inventory list and the pagination buttons */
}

.pagination-container button {
    margin: 0 5px; /* Adds space between the buttons */
    padding: 10px 15px; /* Adds padding inside the buttons for better touch */
    background-color: #4CAF50; /* Green background for the buttons */
    border: none;
    border-radius: 5px; /* Rounded corners for the buttons */
    color: white; /* Text color */
    font-weight: bold;
    cursor: pointer;
}

.pagination-container button.disabled {
    background-color: #ccc; /* Grey background for disabled buttons */
    cursor: not-allowed;
}

.pagination-container button.active {
    background-color: #333; /* Darker background for the active page button */
}

